// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "helpers/reset";
/**
 *  @theme: Monte
 *  @author: Leila Donamaria
 *  @date: 2017-01-28
 */
@import "helpers/reset";

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/generycs";
@import "helpers/icons";
@import "helpers/buttons";
@import "helpers/fonts";
@import "layout/grids";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  overflow-x: hidden;
}

//General classes

.invisible {
	display: none;
}

.visible-desktop {
  display: none;
	@media #{$breakpoint-tablet-port} {
		display: flex;
	}
}

//Header

header {
  .botonera-mobile {
    .pantalla-mobile {
      position: absolute;
      display: none;
      //align-items: center;
      z-index: 2;
      background-color: black;
      top: 90px;
      //min-height: calc(100vh - 90px);
      @include size(100%, auto);
      @include transition(1s);
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: solid 1px white;
          @include size(100vw, 50px);
          a {
            text-transform: uppercase;
            color: white;
          }
          &:last-child{
            margin-bottom: 50px;
          }
        }
      }
	    &-lenguages {
		    a {
          display: flex;
          align-items: center;
          justify-content: center;
			    @include size(50%, 100%);
          &:first-child {
            border-right: solid 2px white;
          }
		    }
	    }
    }
    .cabecera {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      color: white;
      font-family: $futuraLight;
      text-transform: uppercase;
      @include size(100%,90px);
      h1 {
        padding-left: 20px;
        @include font-size(40px);
      }
      ul {
        li{
          display: inline-block;
        }
      }
      .btn-hamburger {
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 2; //Botón menú
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        transition: .3s;
        cursor: pointer;
        user-select: none;
        @include size(40px, 30px);
        @include border-radius(0);

        &:hover {
          @include opacity(1);
        }

        &.active {
          -webkit-transform: scale3d(.8, .8, .8);
          transform: scale3d(.8, .8, .8);
        }

        &.active {

          .lines {
            background: transparent;

            &:before, &:after {
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              top: 0;
              width: $button-size;
              background: white;
            }

            &:before {
              -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
              -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg);
            }
          }
        }
      }

      .lines {
        @include line;
        position: relative;

        &:before, &:after {
          @include line;
          position: absolute;
          left: 0;
          content: '';
          -webkit-transform-origin: $button-size/14 center;
          transform-origin: $button-size/14 center;
        }

        &:before {
          top: $button-size/4;
        }

        &:after {
          top: -$button-size/4;
        }
      }
    }
    }
  }

.block {
  display: block;
}

#about {
  border-bottom: solid 1px $gray;
  text-align: center;
  padding: 52px 0;
  p {
    margin: 0 auto;
    @include size(80%, auto);
  }
  a {
    color: $red;
  }
  i {
    margin: 10px auto;
  }
}

//General content

.content {
  text-align: center;
  padding: 50px 0;
  h2 {
    padding: 20px 0;
    color: $red;
    text-transform: uppercase;
  }
  .overlay-btn {
    @include size(58px, 58px);
    @include border-radius(50%);
    bottom: -22px;
    z-index: 10;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    text-align: center;
    @include font-size(30px);
    @include line-height(58px);
    color: $red;
    &.gira {
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      -ms-transform: rotate(45deg); /* IE 9 */
      transform: rotate(45deg);
    }
  }
}
//Slider
.slider-content {
  position: relative;
  .overlay-pantalla {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;//Overlay: 2
    background-color: black;
    @include size(100%, 100%);
    @include opacity(0);
    @include transition(0.5s);
    p {
      color: white;
      z-index: 3;
    }
  }
  .slider {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  .left-btn, .right-btn {
    font-size: 40px;
    position: absolute;
    min-height: 40px;
    height: 40px;
    top: calc((100% - 40px) / 2);
    color: white;
  }
  .left-btn {
    left: 5%;
  }
  .right-btn {
    right: 5%;
  }
}
.residencia {
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: dashed 1px black;
  @include size(180px, auto);
  a {
    color: $red;
  }
}

//Footer

footer {
  display: block;
  font-family: $futura;
  text-align: center;
  text-transform: uppercase;
  @include size(100%, auto);
  .logo {
    h1 {
      padding: 10px 0;
      @include font-size(18px);
      color: $red;
    }
    padding: 0 0 10px;
    border-bottom: solid 1px $gray;
  }
  nav {
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px $gray;
        @include size(100%,48px);
        a{
          @include font-size(14px);
        }
      }
    }
  }
  .redes-sociales {
    li {
      display: inline-block;
      padding: 10px 10px 10px 0;
    }
  }
}