// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "helpers/reset";
/**
 *  @theme: Monte
 *  @author: Leila Donamaria
 *  @date: 2017-01-28
 */
@import "helpers/reset";

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/generycs";
@import "helpers/icons";
@import "helpers/buttons";
@import "helpers/fonts";
@import "layout/grids";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  overflow-x: hidden;
}

//General classes

.invisible {
	display: none;
}

.visible-desktop {
  display: none;
	@media #{$breakpoint-tablet-port} {
		display: flex;
	}
}

//Header

header {
  .botonera-mobile {
    .pantalla-mobile {
      position: absolute;
      //display: none;
      //align-items: center;
      z-index: 2;
      background-color: black;
      top: 90px;
      //min-height: calc(100vh - 90px);
      @include size(100%, auto);
      @include transition(0.3s);
      @include opacity(0);
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: solid 1px white;
          @include size(100vw, 50px);
          a {
            text-transform: uppercase;
            color: white;
          }
          &:last-child{
            margin-bottom: 50px;
          }
        }
      }
	    &-lenguages {
		    a {
          display: flex;
          align-items: center;
          justify-content: center;
			    @include size(50%, 100%);
          &:first-child {
            border-right: solid 2px white;
          }
		    }
	    }
    }
    .cabecera {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      color: white;
      font-family: $futuraLight;
      text-transform: uppercase;
      @include size(100%,90px);
      h1 {
        padding-left: 20px;
        @include font-size(40px);
      }
      ul {
        li{
          display: inline-block;
        }
      }
      .btn-hamburger {
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 2; //Botón menú
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        transition: .3s;
        cursor: pointer;
        user-select: none;
        @include size(40px, 30px);
        @include border-radius(0);

        &:hover {
          @include opacity(1);
        }

        &.active {
          -webkit-transform: scale3d(.8, .8, .8);
          transform: scale3d(.8, .8, .8);
        }

        &.active {

          .lines {
            background: transparent;

            &:before, &:after {
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              top: 0;
              width: $button-size;
              background: white;
            }

            &:before {
              -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
              -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg);
            }
          }
        }
      }

      .lines {
        @include line;
        position: relative;

        &:before, &:after {
          @include line;
          position: absolute;
          left: 0;
          content: '';
          -webkit-transform-origin: $button-size/14 center;
          transform-origin: $button-size/14 center;
        }

        &:before {
          top: $button-size/4;
        }

        &:after {
          top: -$button-size/4;
        }
      }
    }
    }
  }

.block {
  display: block;
}

#about {
  border-bottom: solid 1px $gray;
  text-align: center;
  padding: 52px 0;
  p {
    margin: 0 auto;
    @include size(80%, auto);
  }
  a {
    color: $red;
  }
  i {
    margin: 10px auto;
  }
}

//General content
.contain {
  width: 100%;
  margin: 0 auto;
  background-color: red;
  @media #{$breakpoint-tablet-port}{
    width: 80%;
  }
}
.content {
    padding: 50px 0;
  .rtl {
    flex-direction: row-reverse;
  }
  &-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    .bloque-1 {
      position: relative;
      flex-basis: 100%;
      height: 200px;
      overflow: hidden;
      .overlay-pantalla {
        display: none;
      }
      .slider-content {
        height: 200px;
        .slider {
          height: 200px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .left-btn, .right-btn {
          font-size: 40px;
          position: absolute;
          min-height: 40px;
          height: 40px;
          top: calc((100% - 40px) / 2);
          color: white;
        }
        .left-btn {
          left: 5%;
        }
        .right-btn {
          right: 5%;
        }
      }
    }
    .bloque-2 {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
      .info-home {
        padding: 0 30px;
        text-align: center;
      }
        h2 {
          padding: 20px 0;
          color: $red;
          text-transform: uppercase;
        }
        .overlay-btn {
          @include size(58px, 58px);
          @include border-radius(50%);
          bottom: -22px;
          z-index: 10;
          display: block;
          margin: 0 auto;
          cursor: pointer;
          -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
          -ms-transform: rotate(90deg); /* IE 9 */
          transform: rotate(90deg);
          text-align: center;
          @include font-size(30px);
          @include line-height(58px);
          color: $red;
          &.gira {
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            -ms-transform: rotate(45deg); /* IE 9 */
            transform: rotate(45deg);
          }
        }
    }
    //Content-home breakpoints
    @media #{$breakpoint-smartphone-big}{
      height: 600px;
      .bloque-1{
        height: 300px;
        .slider-content {
          height: 300px;
          .slider {
            height: 300px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    @media #{$breakpoint-tablet-port}{
      height: 500px;
      .bloque-1{
        flex-basis: 50%;
        height: 500px;
        .slider-content {
          min-height: 500px;
          .slider {
            min-height: 500px;
            img {
              width: 100%;
              min-height: 500px;
              object-fit: cover;
            }
          }
        }
      }
      .bloque-2{
        flex-basis: 50%;
        justify-content: flex-start;
        height: 500px;
        .imgs-fijas {
          img {
            display: block;
            width: 100%;
            min-height: 300px;
            object-fit: cover;
          }
        }
        .info-home {
          min-height: 200px;
          text-align: left;
          padding-top: 20px;
        }
        .overlay-btn {
          display: inline-block;
          width: auto;
        }
      }
    }
    @media #{$breakpoint-tablet-land}{
      min-height: 600px;
      .bloque-1{
        min-height: 600px;
        .slider-content {
          min-height: 600px;
          .slider {
            min-height: 600px;
            img {
              min-height: 600px;
            }
          }
        }
      }
      .bloque-2{
        min-height: 600px;
        .imgs-fijas {
          img {
            min-height: 350px;
            border: 1px solid gray;
          }
        }
        .info-home {
          min-height: 250px;
        }
      }
    }
    //@media #{$breakpoint-laptop-small}{
    //  height: 550px;
    //  .bloque-1{
    //    height: 550px;
    //    .slider-content {
    //      height: 550px;
    //      .slider {
    //        height: 550px;
    //        img {
    //          height: 550px;
    //        }
    //      }
    //    }
    //  }
    //  .bloque-2{
    //    height: 550px;
    //    .imgs-fijas {
    //      img {
    //        height: calc(550px / 2);
    //      }
    //    }
    //    .info-home {
    //      height: calc(550px / 2);
    //    }
    //  }
    //}
  }
}
// LO DEL COMMIT ANTERIOR
//.content {
//  text-align: center;
//  padding: 50px 0;
//  h2 {
//    padding: 20px 0;
//    color: $red;
//    text-transform: uppercase;
//  }
//  .overlay-btn {
//    @include size(58px, 58px);
//    @include border-radius(50%);
//    bottom: -22px;
//    z-index: 10;
//    display: block;
//    margin: 0 auto;
//    cursor: pointer;
//    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
//    -ms-transform: rotate(90deg); /* IE 9 */
//    transform: rotate(90deg);
//    text-align: center;
//    @include font-size(30px);
//    @include line-height(58px);
//    color: $red;
//    &.gira {
//      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
//      -ms-transform: rotate(45deg); /* IE 9 */
//      transform: rotate(45deg);
//    }
//  }
  //Home Content
  //&-home {
  //  display: flex;
  //  flex-direction: row;
  //  flex-wrap: wrap;
  //  .bloque-1 {
  //    //Slider
  //    .slider-content {
  //      position: relative;
  //      height: 100%;
  //      min-height: 300px;
  //      background-color: silver;
  //      .overlay-pantalla {
  //        display: flex;
  //        align-items: center;
  //        justify-content: center;
  //        position: absolute;
  //        z-index: 0;//Overlay: 2
  //        background-color: black;
  //        width: 100%;
  //        min-height: 100%;
  //        height: 100%;
  //        @include opacity(0);
  //        @include transition(0.5s);
  //        p {
  //          color: white;
  //          z-index: 3;
  //        }
  //      }
  //      .slider, .slick-slide {
  //        width: 100%;
  //        height: 100% !important;
  //        min-height: 100% !important;
  //        img {
  //          width: 100%;
  //          height: 100%;
  //          min-height: 100%;
  //          display: block;
  //          object-position: 50% 50%;
  //          object-fit: cover;
  //        }
  //      }
  //      .left-btn, .right-btn {
  //        font-size: 40px;
  //        position: absolute;
  //        min-height: 40px;
  //        height: 40px;
  //        top: calc((100% - 40px) / 2);
  //        color: white;
  //      }
  //      .left-btn {
  //        left: 5%;
  //      }
  //      .right-btn {
  //        right: 5%;
  //      }
  //    }
      //@media #{$breakpoint-smartphone-big}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 500px;
      //    img {
      //      height: 100%;
      //      min-height: 500px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-tablet-port}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 510px;
      //    img {
      //      min-height: 510px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-tablet-port}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 480px;
      //    background-color: green;
      //    img {
      //      min-height: 480px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-tablet-land}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 520px;
      //    background-color: blue;
      //    img {
      //      min-height: 520px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-laptop-small}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 600px;
      //    background-color: red;
      //    img {
      //      min-height: 600px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-laptop-big}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 620px;
      //    background-color: yellow;
      //    img {
      //      min-height: 620px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-desktop-medium}{ //Bloque 1 breakpoint
      //  .slider, .slick-slide {
      //    min-height: 700px;
      //    background-color: violet;
      //    img {
      //      min-height: 700px;
      //    }
      //  }
      //}
      //@media #{$breakpoint-desktop-big}{ //Bloque 1 breakpoint
      //  max-height: 950px;
      //  .slider, .slick-slide {
      //    background-color: black;
      //    img {
      //      width: 100%;
      //      min-height: 950px;
      //    }
      //  }
      //}
//  }
//    .bloque-2 {
//      padding: 30px 0;
//      .imgs-fijas {
//        width: 100%;
//        picture {
//          width: 100%;
//          img {
//            width: 100%;
//            object-fit: cover;
//          }
//        }
//      }
//    }
//    .bloque-1,.bloque-2 {
//      width: 100%;
//    }
//    @media #{$breakpoint-tablet-port}{
//      .bloque-1,.bloque-2 {
//        width: 50%;
//      }
//    }
//  }
//}
//.residencia {
//  padding: 20px 0;
//  margin: 0 auto;
//  border-bottom: dashed 1px black;
//  @include size(180px, auto);
//  a {
//    color: $red;
//  }
//}

//Footer

footer {
  display: block;
  font-family: $futura;
  text-align: center;
  text-transform: uppercase;
  @include size(100%, auto);
  .logo {
    h1 {
      padding: 10px 0;
      @include font-size(18px);
      color: $red;
    }
    padding: 0 0 10px;
    border-bottom: solid 1px $gray;
  }
  nav {
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px $gray;
        @include size(100%,48px);
        a{
          @include font-size(14px);
        }
      }
    }
  }
  .redes-sociales {
    li {
      display: inline-block;
      padding: 10px 10px 10px 0;
    }
  }
}