// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "helpers/reset";
/**
 *  @theme: Monte
 *  @author: Leila Donamaria
 *  @date: 2017-01-28
 */
@import "helpers/reset";

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/icons";
@import "helpers/buttons";
@import "helpers/fonts";
@import "layout/grids";
@import "helpers/generycs";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

//General classes
.only-mobile {
  @media #{$breakpoint-tablet-port} {
    display: none;
  }
}
.block {
  display: block;
}
.invisible {
	display: none;
}

.visible-desktop {
  display: none;
	@media #{$breakpoint-tablet-port} {
		display: flex;
	}
}
.sticky {
  background-color: $black;
}

//Header

header {
  background: url('../images/mobile/Monte-home_intro.jpg') no-repeat;
  background-size: cover;
  min-height: 400px;
  .botonera-mobile {
    .pantalla-mobile {
      position: fixed;
      //align-items: center;
      background-color: $black;
      top: 0;
      visibility: hidden;
      z-index: 3;
      //min-height: calc(100vh - 90px);
      @include size(100%, 0);
      @include transition(0.3s);
      @include opacity(0);
      div:first-child {
        height: 90px;
        background-color: $black;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: solid 1px $white;
          @include size(100vw, 50px);
          a {
            text-transform: uppercase;
            color: $white;
          }
          &:last-child{
            margin-bottom: 50px;
          }
        }
      }
	    &-lenguages {
		    a {
          display: flex;
          align-items: center;
          justify-content: center;
			    @include size(50%, 100%);
          &:first-child {
            border-right: solid 2px $white;
          }
		    }
	    }
    }
    .cabecera {
      display: flex;
      z-index: 3;
      position: fixed;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      color: $white;
      text-transform: uppercase;
      @include size(100%,70px);
      @include transition(0.4s);
      h1 {
        padding-left: 20px;
        @include font-size(40px);
      }
      ul {
        li{
          display: inline-block;
        }
      }
      .btn-hamburger {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 2; //Botón menú
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        user-select: none;
        @include size(40px, 30px);
        @include border-radius(0);
	      @include transition(0.3s);

        &:hover {
          @include opacity(1);
        }

        &.active {
          -webkit-transform: scale3d(.8, .8, .8);
          transform: scale3d(.8, .8, .8);
        }

        &.active {

          .lines {
            background: transparent;

            &:before, &:after {
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              top: 0;
              width: $button-size;
              background: $white;
            }

            &:before {
              -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
              -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg);
            }
          }
        }
      }

      .lines {
        @include line;
        position: relative;

        &:before, &:after {
          @include line;
          position: absolute;
          left: 0;
          content: '';
          -webkit-transform-origin: $button-size/14 center;
          transform-origin: $button-size/14 center;
        }

        &:before {
          top: $button-size/4;
        }

        &:after {
          top: -$button-size/4;
        }
      }
    }
  }
@media #{$breakpoint-tablet-port} {
           .botonera-desktop {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: space-between;
             position: fixed;
             z-index: 3;
             color: $white;
             @include size(100%, 90px);
             @include transition(0.3s);
           }
          .items-botonera-desk {
            padding-left: 20px;
            .redes-sociales {
              li {
                display: inline-block;
              }
            }
          }
          .botonera-desktop:nth-child(2){
            text-align: center;
            h1 {
              @include font-size(40px);
            }
            hr {
              margin: 5px 0;
            }
            nav{
              ul{
                li{
                  display: inline-block;
                }
              }
            }
          }
   }
  //Breakpoints header
  @media #{$breakpoint-smartphone-medium-landscape} {
    background-size: cover;
    min-height: 500px;
  }
  @media #{$breakpoint-smartphone-big} {
    background-size: cover;
    min-height: 550px;
  }
  @media #{$breakpoint-smartphone-big-landscape} {
    min-height: 700px;
  }
  @media #{$breakpoint-tablet-port} {
    background: url('../images/desktop/Monte-home_intro.jpg') no-repeat;
    background-size: cover;
    min-height: 550px;
  }
  @media #{$breakpoint-tablet-land} {
    min-height: 600px;
  }
  @media #{$breakpoint-laptop-small} {
    min-height: 100vh;
  }
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px $gray;
  text-align: center;
  min-height: 200px;
  p {
    margin: 0 auto;
    @include size(80%, auto);
  }
  a {
    color: $red;
  }
  i {
    margin: 10px auto;
  }
}

//General content
.contain {
  width: 100%;
  margin: 0 auto;
  @media #{$breakpoint-tablet-port}{
    width: 50%;
    margin: 0 25%;
  }
  @media #{$breakpoint-laptop-big}{
    width: 40%;
    margin: 0 30%;
  }
}
.content {
    padding: 50px 0;
  .rtl {
    flex-direction: row-reverse;
  }
  &-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 15px;
    max-width: $grid-max-width;
    height: 500px;
    .bloque-1 {
      position: relative;
      flex-basis: 100%;
      height: 200px;
      overflow: hidden;
      .slider-content {
        height: 200px;
        .overlay-pantalla {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          z-index: 0;
          background-color: $black;
          @include size(100%,200px);
          @include opacity(0);
          @include transition(0.5s);
          p {
            color: $white;
          }
        }
        .slider {
          height: 200px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .left-btn, .right-btn {
          font-size: 40px;
          position: absolute;
          min-height: 40px;
          height: 40px;
          top: calc((100% - 40px) / 2);
          color: $white;
        }
        .left-btn {
          left: 5%;
        }
        .right-btn {
          right: 5%;
        }
      }
    }
    .bloque-2 {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
      .info-home {
        padding: 0 30px;
        text-align: center;
      }
        h2 {
          padding: 20px 0;
          color: $red;
          text-transform: uppercase;
        }
        .overlay-btn {
          @include size(58px, 58px);
          @include border-radius(50%);
          bottom: -22px;
          z-index: 10;
          display: block;
          margin: 0 auto;
          cursor: pointer;
          -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
          -ms-transform: rotate(90deg); /* IE 9 */
          transform: rotate(90deg);
          text-align: center;
          @include font-size(30px);
          @include line-height(58px);
          color: $red;
          &.gira {
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            -ms-transform: rotate(45deg); /* IE 9 */
            transform: rotate(45deg);
          }
        }
    }
    //Content-home breakpoints
    @media #{$breakpoint-smartphone-big}{
      height: 600px;
      .bloque-1 {
        height: 300px;
        .slider-content {
          height: 300px;
          .overlay-pantalla {
            @include size(100%,300px);
          }
          .slider {
            height: 300px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    @media #{$breakpoint-tablet-port}{
      height: 450px;
      .bloque-1 {
        flex-basis: 50%;
        height: 450px;
        .slider-content {
          min-height: 450px;
          .overlay-pantalla {
            @include size(100%,450px);
          }
          .slider {
            min-height: 450px;
            img {
              width: 100%;
              min-height: 450px;
              object-fit: cover;
              border-top: 2px solid whitesmoke;
            }
          }
        }
      }
      .bloque-2 {
        flex-basis: 50%;
        justify-content: flex-start;
        height: 450px;
        .imgs-fijas {
          img {
            display: block;
            width: 100%;
            max-height: 250px;
            object-fit: cover;
            border: 2px solid whitesmoke;
          }
        }
        .info-home {
          min-height: 200px;
          text-align: left;
          padding-top: 20px;
        }
        .overlay-btn {
          display: inline-block;
          width: auto;
        }
      }
    }
    @media #{$breakpoint-tablet-land}{
      min-height: 600px;
      .bloque-1 {
        min-height: 600px;
        .slider-content {
          min-height: 600px;
          .overlay-pantalla {
            @include size(100%,600px);
          }
          .slider {
            min-height: 600px;
            img {
              min-height: 600px;
            }
          }
        }
      }
      .bloque-2 {
        min-height: 600px;
        .imgs-fijas {
          img {
            min-height: 400px;
          }
        }
        .info-home {
          min-height: 200px;
        }
      }
    }
    @media #{$breakpoint-laptop-small}{
      min-height: 800px;
      .bloque-1 {
        min-height: 800px;
        .slider-content {
          min-height: 800px;
          .overlay-pantalla {
            @include size(100%,800px);
          }
          .slider {
            min-height: 800px;
            img {
              min-height: 800px;
            }
          }
        }
      }
      .bloque-2 {
        min-height: 800px;
        .imgs-fijas {
          img {
            min-height: 550px;
          }
        }
        .info-home {
          min-height: 250px;
        }
      }
    }
    @media #{$breakpoint-laptop-big}{
      min-height: 850px;
      .bloque-1 {
        min-height: 850px;
        .slider-content {
          min-height: 850px;
          .overlay-pantalla {
            @include size(100%,850px);
          }
          .slider {
            min-height: 850px;
            img {
              min-height: 850px;
            }
          }
        }
      }
      .bloque-2 {
        min-height: 850px;
        .imgs-fijas {
          img {
            max-height: 600px;
          }
        }
        .info-home {
          min-height: 250px;
        }
      }
    }
  }
  &-acciones {
    picture {
      width: 100%;
      img,source {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &-residencias {
    text-align: center;
    .residencia {
      a {
        color: $red;
      }
      hr {
        border: none;
        border-bottom: dashed 1px gray;
        margin: 30px auto;
        width: 300px;
      }
    }
  }
}


//Footer

footer {
  display: block;
  text-align: center;
  text-transform: uppercase;
  @include size(100%, auto);
  .logo {
    h1 {
      padding: 10px 0;
      @include font-size(18px);
      color: $red;
    }
    padding: 0 0 10px;
    border-bottom: solid 1px $gray;
  }
  nav {
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px $gray;
        @include size(100%,48px);
        a{
          @include font-size(14px);
        }
      }
    }
  }
  .redes-sociales {
    li {
      display: inline-block;
      padding: 10px 2px 10px 0;
    }
  }
}