// =============================================================================
// - Generycs elements
// =============================================================================
*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
  @include transition(2ms);
}

body {
  font-weight: 400;
  overflow-x: hidden;
}

a{
  font-family: $Futura;
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $FuturaLight;
}

p {
  font-family: $FuturaBook;
  color: gray;
  @include font-size(20px);
  @include line-height(25px);
}