// =============================================================================
// - Generycs elements
// =============================================================================
*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
  @include transition(2ms);
}

body {
  font-weight: 400;
  overflow-x: hidden;
}

a{
  font-family: $FuturaMediumbt;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: $FuturaLight;
}

p {
  font-family: $FuturaBook;
}