// =============================================================================
// ICONS
// =============================================================================
.ic {
	display: inline-block;
  &_Monte {
    background: url(../../images/icons/Monte-icono.svg) center center no-repeat;
    @include size(350px, 36px);

    //@media #{$breakpoint-smartphone-big-landscape} {
    //  @include size(28px, 28px);
    //}
  }
  &_Facebook {
    background: url(../../images/icons/facebook-logo.svg) center center no-repeat;
    background-size: cover;
    @include size(25px, 25px);

    //@media #{$breakpoint-smartphone-big-landscape} {
    //  @include size(28px, 28px);
    //}
  }
  &_Instagram {
    background: url(../../images/icons/instagram-logo.svg) center center no-repeat;
    background-size: cover;
    @include size(25px, 25px);

    //@media #{$breakpoint-smartphone-big-landscape} {
    //  @include size(28px, 28px);
    //}
  }
  &_Calendar {
    background: url(../../images/icons/calendar-logo.svg) center center no-repeat;
    background-size: cover;
    @include size(25px, 25px);

    //@media #{$breakpoint-smartphone-big-landscape} {
    //  @include size(28px, 28px);
    //}
  }
}
