// =============================================================================
// Mixins
// =============================================================================

// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
// =============================================================================
// Border-box
// =============================================================================
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// =============================================================================
// Border-radius
// =============================================================================
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// =============================================================================
// Border-radius
// =============================================================================
@mixin animationDelay($duration, $delay) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  animation-delay: $delay;
}

// =============================================================================
// Transition
// =============================================================================
@mixin transition($time) {
  transition:all $time linear;
  -o-transition:all $time linear;
  -moz-transition:all $time linear;
  -webkit-transition:all $time linear;
}

// =============================================================================
// Animation Delay
// =============================================================================
@mixin animationDelay($duration, $delay) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  animation-delay: $delay;
}
// =============================================================================
// Element size
// =============================================================================
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// =============================================================================
// Border-box
// =============================================================================
//@mixin placeholder($color) {
//  ::-webkit-input-placeholder {
//    color: $color;
//  }
//  :-moz-placeholder { /* Firefox 18- */
//    color: $color;
//  }
//  ::-moz-placeholder {  /* Firefox 19+ */
//    color: $color;
//  }
//  :-ms-input-placeholder {
//    color: $color;
//  }
//}

// =============================================================================
// Calculate rem helper
// =============================================================================
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// =============================================================================
// Rem font-size
// =============================================================================
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// =============================================================================
// Rem line-height
// =============================================================================
@mixin line-height($size) {
  line-height: $size;
  line-height: calculateRem($size);
}

// =============================================================================
// Clearfix helper
// =============================================================================
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// =============================================================================
// Opacity
// =============================================================================
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
// =============================================================================
// LINE
// =============================================================================
@mixin line {
  display: inline-block;
  width: $button-size;
  height: 3px;
  vertical-align: middle;
  background: white;
  transition: $button-transition;

  @media #{$breakpoint-smartphone-big} {
    width: $button-size-mobile;
  }
}